version: '3'

services:
  db:
    image: mysql:5.7
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: test_db
      MYSQL_USER: devuser
      MYSQL_PASSWORD: devpass
    ports:
      - "3304:3306"
  web:
    image: php:7.3-apache
    container_name: php_web
    depends_on:
      - db
    volumes:
      - ./public/:/var/www/html/
    ports:
      - "8100:80"
    stdin_open: true
    tty: true